# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\AAFacultate\Anul 2 Semestrul 2\Artificial Intelligence\Labs\Lab 4 - Drone Exploration - ACO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
